---
// Importar el Layout
import Layout from '../layouts/Layout.astro';
import '../styles/global.scss';
---

<Layout>
  <section class="register-page">
    <!-- Contenedor para imagen y formulario -->
    <div class="register-content">
      <!-- Imagen a la izquierda -->
      <img src="/imagenes/escritorio.jpg" alt="Imagen de registro id" class="register-image" />
      
      <!-- Formulario a la derecha -->
      <div class="register-form">
        <h2>Regístrate para unirte a IDTHEBEST</h2>
        <p>Completa el formulario y empieza a explorar el mundo de IDTHEBEST con nosotros.</p>
        
        <form>
          <label for="name">Nombre:</label>
          <input type="text" id="name" placeholder="Tu nombre" required />

          <label for="email">Correo Electrónico:</label>
          <input type="email" id="email" placeholder="tucorreo@ejemplo.com" required />

          <label for="password">Contraseña:</label>
          <input type="password" id="password" placeholder="Crea una contraseña" required />

          <button type="submit">Registrarse</button>
        </form>
      </div>
    </div>
  </section>
</Layout>


