<footer id="footer" class="footer">
  <div class="footer-content">
    <div class="footer-info">
      <h3>Contacto</h3>
      <p>+34 912 345 678</p>
      <p>info@idthebest.com</p>
    </div>
  </div>
  <p class="footer-rights">© 2025. All rights reserved.</p>
</footer>

